In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,Willie Nelson,Denver,The bright lights of Denver \r\nWere shining ...
1,King Diamond,A Dangerous Meeting,Tonight the circle is meeting again \r\nWho w...
2,P!nk,Bad Influence,Alright sir \r\nSure I'll have another one it...
3,Neil Sedaka,I Am A Song,I AM A SONG \r\n \r\nI'm a song and I've wai...
4,Miley Cyrus,Who Said,I'm more than just your average girl \r\nI li...
5,Freddie Aguilar,Anak Pawis,Anak pawis ang tawag sa akin \r\nAko raw ay b...
6,Extreme,Mutha,"Mutha, don't wanna go to school today \r\nI t..."
7,Lana Del Rey,Starry Eyed,"Oh, boy you're starry eyed \r\nLay back, baby..."
8,Utopia,Winston Smith Takes It On The Jaw,"We got no razor blades, we got no victory gin ..."
9,Nick Drake,Which Will,Which will you go for \r\nWhich will you love...

In [9]:
df['text'][0]

"The bright lights of Denver  \r\nWere shining like diamonds  \r\nLike ten thousand jewels in the sky  \r\nWhere it's nobody's business  \r\nWhere you're goin' or where you came from  \r\nAnd you've judged by the look in your eye  \r\nShe saw him that evening in a tavern in town  \r\nIn a quiet little out of the way place  \r\nAnd they smiled at each other  \r\nAs he walked through the door  \r\nAnd they danced with their smiles on their faces  \r\nAnd they danced with their smiles on their face\r\n\r\n"

In [10]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n', ' ', regex = True)

In [11]:
df.tail(5)

,artist,song,text
4995,Pretenders,Every Mother's Son,i was born with my hand in a fist \r and my e...
4996,Elton John,Chapel Of Love,"spring is here, the sky is blue \r birds will..."
4997,Backstreet Boys,If I Knew Then,life should be like a game of cards \r you ma...
4998,Snoop Dogg,Doggfather,i put down more hits than mafioso made \r and...
4999,Phish,The Mango Song,"spasm waiter dropping to his knees, sees \r s..."

In [12]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [21]:
token("Chapel Of Love")

'chapel of love'

In [14]:
df['text'] = df['text'].apply(lambda x: token(x))

In [15]:
df['text']

0       the bright light of denver were shine like dia...
1       tonight the circl is meet again who will be th...
2       alright sir sure i 'll have anoth one it 's ea...
3       i am a song i 'm a song and i 've wait so long...
4       i 'm more than just your averag girl i like to...
                              ...
4995    i wa born with my hand in a fist and my eye sh...
4996    spring is here , the sky is blue bird will sin...
4997    life should be like a game of card you make a ...
4998    i put down more hit than mafioso made and luck...
4999    spasm waiter drop to hi knee , see slander on ...
Name: text, Length: 5000, dtype: object

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [18]:
similarity[0]

array([1.        , 0.05195257, 0.02853873, ..., 0.0045731 , 0.02702377,
       0.00937658])

In [22]:
df[df['song'] == 'Chapel Of Love']

,artist,song,text
4996,Elton John,Chapel Of Love,"spring is here , the sky is blue bird will sin..."

In [24]:
df[df['song'] == 'Chapel Of Love'].index[0]

4996

### Recomender Function

In [25]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
    return songs

In [27]:
recommendation('Chapel Of Love')

['Mr. Clarinet',
 "I'm Gonna Live Till I Die",
 'Any Love',
 'Letter To A Friend',
 'Gonna Make You Mine',
 'Every Man Should Marry',
 'Maybe',
 "You're Gonna Love Me",
 'Hearts In Trouble',
 'I Found You Love',
 'Peace In Our Time',
 'Oh Darling',
 "Tearin' It Up",
 "For Me It's You",
 'Lonely',
 'Cry',
 'When I Get Thru With',
 "I'm Gonna Steal You Away",
 'My Way',
 'Wishing Well']

In [28]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))