In [104]:
import pandas as pd

In [105]:
df = pd.read_csv("spotify_millsongdata.csv")

In [106]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [107]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [108]:
df.shape

(57650, 4)

In [109]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [110]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [111]:
df.head(10)

,artist,song,text
0,Avril Lavigne,You Ain't Seen Nothin' Yet,"First glance, you nearly made my jaw drop \r\..."
1,Procol Harum,Too Much Between Us,"There's you, you're sleeping over there \r\nW..."
2,The Beatles,I'll Get You,"Oh yeah, oh yeah \r\nOh yeah, oh yeah \r\n ..."
3,Keith Urban,Where The Blacktop Ends,Gonna kick off my shoes \r\nAnd run in bare f...
4,P!nk,Do That...,I like that though \r\nThat's what's up \r\n...
5,Uncle Tupelo,Anodyne,You threw out the past \r\nWhen you threw out...
6,Crowded House,Time Immemorial,Start in the way that you want to go on \r\nT...
7,Death,"1,000 Eyes",Crossing the line into the other side \r\nEme...
8,Mazzy Star,Bells Ring,Bells ring into the night \r\nSounds like a m...
9,Lionel Richie,Time Of Our Life,"Hey, I can see that smile on your face \r\nTo..."

In [112]:
df['text'][0]

"First glance, you nearly made my jaw drop  \r\nFirst dance, and you were looking so hot  \r\nHow tense, I moved in for a lip-lock  \r\nDon't stop baby, don't stop baby  \r\n  \r\nA first taste like honey, you were so yum  \r\nCan't wait for a second 'cause it's so fun  \r\nThird base, I'm headed for a homerun  \r\nDon't stop baby, don't stop baby now  \r\n  \r\nHold on tight to this rollercoaster ride  \r\nAnd if you're loving this  \r\nJust give me one more kiss  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nJust let go, if you don't, we'll never know  \r\nSo if you're loving this  \r\nJust give me one more kiss  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nMy place, you showed up with flowers  \r\nYour face, could stare at it for hours  \r\nCan't wait to see your superpowers  \r\nDon't stop baby, don't stop baby  \r\n  \r\nYour car, I'm sitting right beside you  \r\nRockstar at everything that you do  \r\nMy heart is ready for the next move  \r\nDon't stop baby, don't stop baby now  \r\n  \r\nHold on tight to this rollercoaster ride  \r\nAnd if you're loving this  \r\nJust give me one more kiss  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nJust let go, if you don't, we'll never know  \r\nSo if you're loving this  \r\nJust give me one more kiss  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nYeah yeah, not yet  \r\nYeah yeah, not yet  \r\nYeah yeah, not yet  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nHold on tight to this rollercoaster ride  \r\nAnd if you're loving this  \r\nJust give me one more kiss  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nJust let go, if you don't, we'll never know  \r\nSo if you're loving this  \r\nJust give me one more kiss  \r\n'Cause you ain't seen nothing yet  \r\n  \r\nYeah yeah, not yet  \r\nYeah yeah, not yet  \r\nYeah yeah, not yet  \r\n'Cause you ain't seen nothing yet\r\n\r\n"

In [113]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n', ' ', regex = True)

In [114]:
df.tail(5)

,artist,song,text
4995,Thin Lizzy,Fighting My Way Back,"i'm tough, rough, ready and able \r to pick m..."
4996,Ray Charles,Georgia On My Mind,"georgia, georgia, \r the whole day through \..."
4997,Z-Ro,Can't Leave Drank Alone,i can't leave drank alone it got me feeling \...
4998,Wu-Tang Clan,Jah World,him speaketh in tongues into the hearts of all...
4999,Johnny Cash,Home Of The Blues,just around the corner there's heartache \r d...

In [115]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [116]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [117]:
df['text'] = df['text'].apply(lambda x: token(x))

In [118]:
df['text']

0       first glanc , you nearli made my jaw drop firs...
1       there 's you , you 're sleep over there whilst...
2       oh yeah , oh yeah oh yeah , oh yeah imagin i '...
3       gon na kick off my shoe and run in bare feet w...
4       i like that though that 's what 's up some peo...
                              ...
4995    i 'm tough , rough , readi and abl to pick mys...
4996    georgia , georgia , the whole day through just...
4997    i ca n't leav drank alon it got me feel ( feel...
4998    him speaketh in tongu into the heart of all fl...
4999    just around the corner there 's heartach down ...
Name: text, Length: 5000, dtype: object

In [119]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [120]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [121]:
similarity[0]

array([1.        , 0.01901474, 0.26792092, ..., 0.10409873, 0.02667289,
       0.07118712])

In [124]:
df[df['song'] == 'Fighting My Way Back']

,artist,song,text
4995,Thin Lizzy,Fighting My Way Back,"i 'm tough , rough , readi and abl to pick mys..."

In [126]:
df[df['song'] == 'Fighting My Way Back'].index[0]

4995

### Recomender Function

In [127]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
    return songs

In [129]:
recommendation('Fighting My Way Back')

['Call To Arms',
 'Fight For Ourselves',
 'In The Way',
 'Like It Or Not',
 'Fight For Your Life',
 'My Opening Farewell',
 "That Joke Isn't Funny Anymore",
 'Soon',
 'A Little Want To',
 'Future Mister Me',
 'Fight Like A Brave',
 'Atrocity Exhibition',
 "Can't Fight The Moonlight",
 'Back To The Future',
 'Busted',
 'Let The Little Boy Sing',
 'Let It Flow',
 'My Opening Farewell',
 "I'm Ready",
 'Set A Place At Your Table']

In [130]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))